td
{
    background-color: #FFF;
    padding: 5px;
}

tr
{
    border: 1px solid red;
}

.result
{
    background-color: #FFF;
    border: 1px solid #CCC;
    margin: 10px 0;
}

.topInfo
{
    padding: 10px;
    cursor: pointer;
}

.additionalInfo
{
    display: none;
    padding: 10px;
}

.distance, .date, .eventType
{
    font-weight: bold;
}

.distance
{
    float: right;
}

.date
{
    float: left;
}

.eventType
{
    text-align: center;
}

.map 
{
    width: 100%;
    height: 500px;
}

#progress 
{
    text-align: center;
    font-weight: bold;
}

#percent
{
    margin-top: 5px;
}

.DenseFog
{
    background-color: #AAA;
}

.ExtremeCold
{
    background-color: #3C93FF;
}
.Flood
{
    border-color: rgb(125, 165, 255);
    background-color: rgb(159, 188, 255);
}
.Hail
{
    background-color: #DDD;
}
.HighWind
{
    background-color: #EBEBEB;
}
.IceStorm
{
    background-color: rgb(138, 185, 255);
    border-color: rgb(108, 167, 255);
}
.Tornado
{
    background-color: #AAA;
    border-color: #888
}
.WinterStorm
{
    background-color: rgb(196, 224, 253);
    border-color: rgb(154, 203, 253);
}

#search
{
    background-color: #fff;
    padding: 5px;
}

label
{
    font-weight: bold;
    padding-right: 10px;
    padding: 10px;
}

#search p
{
    margin: 10px;
}