td
{
    background-color: #FFF;
    padding: 5px;
}

tr
{
    border: 1px solid red;
}

.result
{
    background-color: #FFF;
    border: 1px solid #CCC;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
}

.additionalInfo
{
    display: none;
    margin-top: 10px;
}


.DenseFog
{
    background-color: #AAA;
}

.ExtremeCold
{
    background-color: #3C93FF;
}
.Flood
{
    background-color: #006BC8;
}
.Hail
{
    background-color: #DDD;
}
.HighWind
{
    background-color: #EBEBEB;
}
.IceStorm
{
    background-color: rgb(138, 185, 255);
    border-color: rgb(108, 167, 255);
}
.Tornado
{
    background-color: #AAA;
    border-color: #888
}
.WinterStorm
{
    background-color: rgb(196, 224, 253);
    border-color: rgb(154, 203, 253);
}
